@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary1: #4b4b4b;
    --primary2: #7D7D7D;
    --primary3: #C0C0C0;
    --primary4: #F2F2F2;
    --primary5: #9E8E8E;

}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
}

::-webkit-scrollbar {
    width: 2px; /* 스크롤바 너비 */
    height: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: #999; /* 스크롤바 색상 */
    border-radius: 4px; /* 스크롤바 모서리 둥글게 */
}

::-webkit-scrollbar-track {
    background: transparent; /* 스크롤 트랙 배경 투명 */
}
body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.empty-container {
    flex: 1; /* 남은 공간을 차지하도록 설정 */
}

.content {
    width: 100%;
    max-width: 600px; /* 최대 600px로 고정 */
    min-width: 320px; /* 최소 320px로 고정 (모바일 최소 크기) */
    background-color: #fafafa; /* 시각적 확인을 위한 배경색 */
}

@media (max-width: 600px) {
    .empty-container {
        display: none; /* 모바일 화면에서는 공백을 없앰 */
    }

    .content {
        margin: 0 1rem; /* 모바일에서는 여백을 줌 */
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
